html{
    background: black url("background.jpg") center center no-repeat;
    background-size: cover;
    color: white;
}

body{
    display: block;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    @media screen and (min-width:500px) {
      display: grid;
     }
}


.container{
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    background-color: rgba(120, 193, 255, 0.7);
    line-height: 1.5em;

    @media screen and (min-width:300px) {
             margin: 2vh;
             padding: 2rem;
             border-radius: 2rem;
     }
     @media screen and (min-width:500px) {
             margin: 7vw;  
             padding: 3rem;  
     }
}

    header{    }
        .avatar{
            width: 112px;
            display: block;
            margin: 0 1rem 0 0;
        
        @media screen and (min-width:420px) {
         float: left;                       
        }
              }
             .avatar img{ 
                display: block;
                width: 100%;
                height: auto;
                border-radius: 50%;
                      
            }
        .description{
            display: block;
            padding-bottom: 1.5rem;
            margin: 0.5rem 0 0.5rem;
            font-size: 1.2rem;
         }
    
        .page_title{
            font-size: 2rem;
            display: block;
            margin: 0;
            line-height: 1.7rem;
        }
        .page_subtitle{
            display: block;
            margin: 0;
            font-size: 1rem;
            font-weight: 100;
            line-height: 1em;
        }
      
    main{  clear: both;  }
        .links_list{
            display: block;
            margin: 0;
            padding: 0;
            border-top: 1px solid white;

            @media screen and (min-width:1700px) {
             display: grid;
                    grid-template-columns: 1fr 1fr;
            }
        }
        .link_item{
                display: block;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid white;
            }
                .link{
                    color: #fff;
                    text-decoration: none;
                    padding: 0.5rem;
                    display: block;
                    transition: all 1s;
                    &:hover{
                    color: black;
                    background: white;
                    }
                }
              
                .list_title, .list_text{
                    display: block;
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    line-height: 1.5em;
                }
                .list_text{
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
              
               